
<section id="landing-page">
    <div class="header-overlay">

        <div class="wow fadeInLeft container">
            <h2 class="elegant">The Latest Trends & Fashion Exclusively For You</h2>
        </div>
        
    </div>
      
</section>

<section id="prefix">
    
    <div class="container">
        <h3>
            You cannot miss this opportunities, take the next Step
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam aperiam modi.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, 
            possimus praesentium ea adipisci consectetur eaque consequatur nemo fugit?
             
        </p>    
        <hr>
    </div>
    
</section>

<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col m4 images">
                <img src="http://www2.pictures.livingly.com/it/Fall+2017+Models+pmeUC34jqaql.jpg" alt="">
            </div>
            <div class="col m4 images">
                <img src="http://cdn3-www.thefashionspot.com/assets/uploads/gallery/paris-fashion-week-models-off-duty-spring-2016/paris-moc-rs16-3724.jpg" alt="">
            </div>
            <div class="col m4 images">
                <img src="https://i1.wp.com/www.minimalistbeauty.com/wp-content/uploads/2012/01/hbz-paris-ss11-Model-street-style-de-2415861.jpg?fit=360%2C460" alt="">
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <h3 class="elegant">Our Services</h3>
        <div class="row">
            <div class="col m4">
                <h4>
                    Closet Fix
                </h4>
                <img src="http://www.cstylejeans.com/wp-content/uploads/2016/03/clothes-fashion-2016.jpg" alt="">
            </div>
            <div class="col m4">
                <h4>
                    Shopping Accesories
                </h4>
                <img src="https://images.hellogiggles.com/uploads/2016/03/16031001/shutterstock_319427201.jpg" alt="">
            </div>
            <div class="col m4">
                <div>
                    <h4>
                        Image Makeover
                    </h4>
                    <img src="http://thezoereport.com/wp-content/uploads/2015/08/WEB_AKS3986-600x600.jpg" alt="">
                </div>
                
            </div>
        </div>
    </div>
</section>
