<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Christianne Filio</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
    
    <!-- Materialize CSS script  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- <link rel="stylesheet" href="/stylesheets/mediaquerys.css"> -->

    <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>

    <!-- Navbar Code Starts Here -->
    
    <div class="navbar-fixed">
      <nav class=" white">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Christianne</a>
          <ul id="nav-mobile" class="font right hide-on-med-and-down">
            <li>
              <a href="sass.html">Home</a>
            </li>
            <li>
              <a href="badges.html">Gallery</a>
            </li>
            <li>
              <a href="collapsible.html">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    

    <%- body %>
    
    <footer class="grey page-footer">
      <div id="font-color">
        <div class=" container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="black-text">Footer Content</h5>
              <p class="black-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="black-text">Links</h5>
              <ul>
                <li>
                  <a class="black-text text-lighten-3" href="#!">Link 1</a>
                </li>
                <li>
                  <a class="black-text text-lighten-3" href="#!">Link 2</a>
                </li>
                <li>
                  <a class="black-text text-lighten-3" href="#!">Link 3</a>
                </li>
                <li>
                  <a class="black-text text-lighten-3" href="#!">Link 4</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="black-text container">
            © 2014 Copyright Text
            <a class="black-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
        </footer>
      </div>
      
    
    <!-- jQuery libraries -->
    
    <script type="text/javascript" src="/javascripts/wow.min.js">
    </script>
    
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <!-- <script type="text/javascript" scr="/javascripts/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>

    <!-- Materialize jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
    <script type="text/javascript" src="/javascripts/custom.js"></script>
  
  </body>
</html>
