<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Christianne Filio</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

    <!-- Font Awesome CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/animate.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Adamina|Quicksand" rel="stylesheet">
    
    <!-- Materialize CSS script  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- <link rel="stylesheet" href="/stylesheets/mediaquerys.css"> -->

    <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>

    <!-- Navbar Code Starts Here -->
    
    <div class="navbar-fixed">
      <nav class=" white">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo elegant ">Christianne Filio Villa</a>
          <ul id="nav-mobile" class="font right hide-on-med-and-down">
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    

    <%- body %>
    
    <footer class="grey-darken-3 page-footer">
      <div id="font-color">
        <div class=" container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Contact Me</h5>
              <label for="">Your Email:</label>
              <br>
              <input class="white-text" type="text" placeholder="email@example.com">
              <br>
              <textarea class="white-text" name="" id="" cols="8" rows="8" placeholder="Sample Text..."></textarea>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Follow Me On</h5>
              <ul>
                <li>
                  <a class="white-text text-lighten-3" href="#!"><i class="fa fa-facebook"></i> Facebook</i></a>
                </li>
                <li>
                  <a class="white-text text-lighten-3" href="#!"><i class="fa fa-twitter"></i> Twitter</i></a>
                </li>
                <li>
                  <a class="white-text text-lighten-3" href="#!"><i class="fa fa-instagram"></i> Instagram</a>
                </li>
                <li>
                  <a class="white-text text-lighten-3" href="#!"><i class="fa fa-snapchat"></i> Snapchat</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="white-text container">
            © 2017  Christianne Filio Villa
            <a class="white-text text-lighten-4 right" href="#/">Home Page</a>
          </div>
        </div>
        </footer>
      </div>
      
    
    <!-- jQuery libraries -->
    
    <script type="text/javascript" src="/javascripts/wow.min.js">
    </script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    
    <!-- <script type="text/javascript" scr="/javascripts/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>

    <!-- Materialize jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
    <!-- wow library -->
    <script type="text/javascript" src="/javascripts/wow.min.js"></script>

    <script type="text/javascript" src="/javascripts/custom.js"></script>
  
  </body>
</html>